#
# Httpie

HTTP_OPTIONS="--follow --print HBhb"

alias GET="http ${HTTP_OPTIONS} GET"
alias POST="http ${HTTP_OPTIONS} POST"
alias PUT="http ${HTTP_OPTIONS} PUT"
alias PATCH="http ${HTTP_OPTIONS} PATCH"
alias DELETE="http ${HTTP_OPTIONS} DELETE"
